{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wydaj Artykul</h1>

{{ form_start(form) }}
    {{ form_row(form.Nazwa) }}
    {{ form_row(form.IloscWydana) }}
    {{ form_widget(form.magazyny)}}
    {{ form_row(form.zapisz) }}
{{ form_end(form) }}
{% endblock %}