{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj nowy magazyn</h1>

{{ form_start(form) }}
    {{ form_row(form.Nazwa) }}
    {{ form_row(form.pracownikMagazynu) }}
    {{ form_row(form.zapisz) }}
{{ form_end(form) }}
{% endblock %}