{% extends 'base.html.twig' %}

{% block title %}Przypisz magazyn{% endblock %}

{% block body %}
    <h1>Przypisz magazyn</h1>

    {{ form_start(form) }}
        {{ form_row(form.user) }}
        {{ form_row(form.magazyn) }}
        {{ form_row(form.zapisz) }}
    {{ form_end(form) }}
{% endblock %}