{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<a href="{{ path('app_register') }}"><button>Dodaj Pracownika</button></a>
<a href="{{ path('app_addMagazyn') }}"><button>Dodaj Magazyn</button></a>
<a href="{{ path('app_list') }}"><button>Lista Magazynów</button></a>
<a href="{{ path('app_addArtykul') }}"><button>Dodaj Artykul</button></a>
<a href="{{ path('app_wydajADM') }}"><button>Wydaj Artykul</button></a>
<a href="{{ path('app_dodajArtADM') }}"><button>Przyjmij Artykul</button></a>

{% endblock %}
